/* --- GENERIC STYLING ---*/
html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, ol {
    font-size: 1.3rem;
}

main {
    padding: 32px 25px;
}

ol {
    margin-left: 20px;
    margin-bottom: 33px;
    line-height: 1.5;
}
    
li {
    padding-left: 5px;
}

ol li:last-of-type {
    margin-bottom: 0;
}

h2 {
    font-family: 'Noto Serif', serif;
    font-size: 2rem;
    margin-bottom: 25px;
}

p {
    margin-bottom: 25px;
    line-height: 1.5;
}

pre {
    background-color: rgb(231, 255, 188);
    border: 1px solid rgb(216, 216, 216);
    overflow: scroll;
    padding: 10px;
    margin-bottom: 25px;
}


/* --- NAVIGATION BAR STYLES ---*/
.nav-bar {
    background-color: rgb(59, 59, 59);
    width: 100%;
}

.nav-header {
    font-size: 1.3rem;
    background-color: rgb(64, 153, 255);
    color: white;
    text-align: center;
    padding: 20px 0;
}

.nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.nav-link {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 8px 15px;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.158);
}


/* --- STYLES FOR LAPTOPS AND COMPUTERS --- */
@media all and (min-width: 769px) {
    .nav-bar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 217px;
    }

    main {
        margin-left: 217px;
    }
}